<section class="n-products my-5">
  <div class="row mt-5">
    {{#each advertisment}}
    <div class="col-12 col-md-4 col-lg-3 mb-4">
      <div class="card h-100 n-content">
        <div class="row-img">
          <img class="card-img-top"
            src="/images/{{this._id}}.jpg"
            alt="Card image cap">
        </div>
        <div class="card-body text-center">
          <div class="img-actions mt-2">
            <a href="/admin/editAdd/{{this._id}}" class="btn btn-success mx-2">Edit</a>
            <a href="/admin/deleteAdd/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
<style>
  .n-products {
    padding-left: 64px;
    padding-top: 1rem;
    margin-left:var(--offcanvas-width);
   
}

.n-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.n-content:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.row-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.row-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.row-img:hover img {
    transform: scale(1.1);
}

.img-actions .btn {
    transition: background-color 0.3s;
}

.img-actions .btn:hover {
    background-color: #28a745; /* For Edit button */
}

.img-actions .btn-danger:hover {
    background-color: #dc3545; /* For Delete button */
}

</style>