<section class="product">
  <div class="container py-5 mt-3 me-5">
    <div class="row">
      {{#each TrendingProduct}}
      <div class="col-lg-3 col-md-3 col-6  mb-2 product-card">
        <div class="card border-0 h-100 d-flex flex-column">
          <div class="card-body">
                            <a href="/view-each-product/{{this._id}}" style="text-decoration: none; color: inherit;">
            <img class="img-fluid" src="/images/{{this._id}}.png" style="max-width: 100%; height: 200px; object-fit:contain">
          </a>
          </div>
          <!-- Product name with fixed height using Bootstrap -->
          <h6 class=" h6 text-center m-1 mb-2" style="max-height: 8rem;">
            {{this.name}}
          </h6>
          <!-- Button and price aligned using Bootstrap -->
         
        </div>
  
      </div>
      {{/each}}
    </div>

   
  </div>
</section>

<style>
    .card:hover{
   box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.2);
     transition: 0.5s;
}
</style>
