<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="path/to/bootstrap.css">
  <link rel="stylesheet" href="path/to/icons.css"> <!-- Assuming you're using icons -->
  <title>Admin Dashboard</title>
</head>
<body>
  {{#if admin}}
  <nav class="col-12 navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand fw-bold text-uppercase me-auto" href="#">Volt-Cart(Admin)</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 ms-auto">
          <div class="input-group my-3 my-lg-0">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button class="btn btn-primary" type="button"><i class="ri-search-line"></i></button>
          </div>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white bg-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{#if admins}}
              {{admins.name}}
              {{else}}<i class="ri-user-fill"></i>{{/if}}
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              {{#if admins}}
              <a class="dropdown-item" href="admin/admin-logout">Logout</a>
              {{/if}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Off-canvas -->
  <div class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
        <ul class="navbar-nav">
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3"> CORE </div>
          </li>
          <li>
            <a href="/admin" class="nav-link px-3 active">
              <span class="me-2"><i class="ri-dashboard-3-line"></i></span>
              <span>User Management</span>
            </a>
          </li>
          <li class="my-4"><hr class="dropdown-divider"/></li>
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3"> Interface </div>
          </li>
          <li>
            <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseSiteManagement" role="button" aria-expanded="false" aria-controls="collapseSiteManagement">
              <span class="me-2"><i class="ri-layout-column-line"></i></span>
              <span>Site Management</span>
              <span class="right-icon ms-auto"><i class="ri-arrow-drop-down-line"></i></span>
            </a>
            <div class="collapse" id="collapseSiteManagement">
              <ul class="navbar-nav ps-3">
                <li><a href="/admin/view-admin-product" class="nav-link px-3"><i class="ri-layout-column-line me-2"></i> Manage Products</a></li>
                <li><a href="/admin/view-trending-products" class="nav-link px-3"><i class="ri-layout-column-line me-2"></i> Trending products</a></li>
                <li><a href="/admin/view-best-seller" class="nav-link px-3"><i class="ri-layout-column-line me-2"></i> Best sellers</a></li>
              </ul>
            </div>
          </li>

          <!-- Manage Ads Section -->
          <li>
            <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseManageAds" role="button" aria-expanded="false" aria-controls="collapseManageAds">
              <span class="me-2"><i class="ri-layout-column-line"></i></span>
              <span>Manage Ads</span>
              <span class="right-icon ms-auto"><i class="ri-arrow-drop-down-line"></i></span>
            </a>
            <div class="collapse" id="collapseManageAds">
              <ul class="navbar-nav ps-3">
                <li><a href="/admin/addPage" class="nav-link px-3"><i class="ri-layout-column-line me-2"></i> Add Ads</a></li>
                <li><a href="/admin/showAdd" class="nav-link px-3"><i class="ri-layout-column-line me-2"></i> View Ads</a></li>
              </ul>
            </div>
          </li>

          <!-- Manage Orders Section -->
          <li>
            <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseManageOrders" role="button" aria-expanded="false" aria-controls="collapseManageOrders">
              <span class="me-2"><i class="ri-layout-column-line"></i></span>
              <span>Manage Orders</span>
              <span class="right-icon ms-auto"><i class="ri-arrow-drop-down-line"></i></span>
            </a>
            <div class="collapse" id="collapseManageOrders">
              <ul class="navbar-nav ps-3">
                <li><a href="/admin/pending-orders" class="nav-link px-3"><i class="ri-layout-column-line me-2"></i> Pending Orders</a></li>
                <li><a href="/admin/placed-orders" class="nav-link px-3"><i class="ri-layout-column-line me-2"></i> Placed Orders</a></li>
                <li><a href="/admin/in-progress-orders" class="nav-link px-3"><i class="ri-layout-column-line me-2"></i> In-Progress Orders</a></li>
                <li><a href="/admin/delivered-orders" class="nav-link px-3"><i class="ri-layout-column-line me-2"></i> Delivered Orders</a></li>
                <li><a href="/admin/cancelled-orders" class="nav-link px-3"><i class="ri-layout-column-line me-2"></i> Cancelled Orders</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  {{/if}}

  <script src="path/to/bootstrap.bundle.js"></script>
</body>
<style>
  :root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
  }

  /* Responsive Styles */
  .sidebar-nav {
    width: var(--offcanvas-width);
    margin-right: 3rem;
  }
  .sidebar-link {
    display: flex;
    align-items: center;
  }
  .sidebar-link .right-icon {
    display: inline-flex;
    transition: all ease 0.25s;
  }
  .sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
  }

  @media (min-width: 992px) {
    .sidebar-nav {
      transform: none;
      visibility: visible !important;
      top: var(--topNavbarHeight);
      height: calc(100% - var(--topNavbarHeight));
    }
  }

  /* Adjusting the width of the sidebar for smaller devices */
  @media (max-width: 768px) {
    .sidebar-nav {
      width: 230px;
    }
    .navbar-brand {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 576px) {
    .sidebar-nav {
      width: 200px;
    }
    .navbar-toggler {
      margin-right: auto;
    }
    .navbar-brand {
      font-size: 0.8rem;
    }
  }
</style>
</html>
